.sidebar-left,
.sidebar-right {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  background: #f8f9fa;
  height: 100%;
  position: relative;
}

@media (min-width: 992px) {
  .sidebar-left,
  .sidebar-right {
    position: relative;
    transform: none;
    transition: none;
  }
}
@media (max-width: 991px) {
  .sidebar-left,
  .sidebar-right {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1050;
    transition: transform 0.3s ease-in-out;
  }

  .sidebar-left {
    left: 0;
    transform: translateX(-100%);
  }
  .sidebar-left.open {
    transform: translateX(0);
  }

  .sidebar-right {
    right: 0;
    transform: translateX(100%);
  }
  .sidebar-right.open {
    transform: translateX(0);
  }

  .sidebar-close-btn {
    position: absolute;
    top: 5px;
    right: 1px;
    font-size: 11px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}



/* theme color change start*/

.layout-wrapper.light-theme {
  background-color: #ffffff;
  color: #000000;
}
.layout-wrapper.light-theme ~ tr td, 
.layout-wrapper .light-theme ~ tr th,
.layout-wrapper .light-theme ~ a{
  color: #000000;
}
.layout-wrapper.dark-theme tr td, 
.layout-wrapper.dark-theme tr th,
.layout-wrapper.dark-theme  a{
  color: #ffffff;
} 

.layout-wrapper.dark-theme {
  background-color: #1e1e1e;
  color: #ffffff;
  filter: none;
}

.dark-theme .navbar,
.dark-theme .sidebar-left,
.dark-theme .sidebar-right,
.dark-theme .main-content {
  background-color: #2c2c2c;
  color: white;
}

.light-theme .navbar,
.light-theme .sidebar-left,
.light-theme .sidebar-right,
.light-theme .main-content {
  background-color: #f8f9fa;
  color: black;
}
.dark-theme img {
  filter: brightness(0.8) invert(1);
}
/* theme color change end*/