.profile {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}
.profile .profile-img img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #dddd;
}

.dropdown-links {
  padding: 5px;
  position: relative;
}

/* .dropdown-links:hover {
  border: 1px solid #dddd;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-links:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 4px;
  background: black;
  border-radius: 5px;
} */

.dropdown-header {
  cursor: pointer;
  padding: 10px;
  align-items: center;
  display: flex;
  gap: 3px;
}

.arrow {
  transition: transform 0.3s ease;
  margin-right: 8px;
}

.arrow.down {
  transform: rotate(90deg);
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 25px;
  list-style-type: none;
  margin: 0;
}

.sub-menu.open {
  max-height: 500px;
}

.sub-menu li {
  padding: 2px 0;
}
.sub-menu li a{
  text-decoration: none;
  color: black;
}
.menu-links .side-menu p {
  left: 0px;
  position: relative;
}

.menu-links .side-menu a {
  text-decoration: none;
}
.menu-links .side-menu {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.menu-links .side-menu .left-bar {
  display: none;
}
ul li {
  text-decoration: none;
  padding: 3px 0px;
}

.tab a{
  color: #ccc;
  text-decoration: none;
}
.tab a:hover{
  color: black;
  text-decoration: none;
}
.tab {
  color: #ccc;;
  font-weight: 400;
}
